/* 
    Document   : ra.css
    Created on : 27/11/2009, 16:27:12
    Author     : www-data
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*  NO lo encontré
#header_logos_center{
    background-image:url(../images/banner.png);
    background-repeat:no-repeat;
    background-position: center;
}
*/
/*@charset "utf-8";*/
/* CSS Document */



h1 {
    font-size:26px;
    color:#333;
    font-weight:normal;
    margin:0;
    margin-bottom: 20px;
}

h2 {
    font-size:16px;
    color:#333;
    margin:0;
}

h3 {
    font-family:inherit;
    font-size:18px;
    color:#0770AE;
    font-weight:normal;
}

p, label {
    font-size:12px;
    color:#333;
}

a {
    color:#36BAE2;
    font-weight:bold;
}



/********* CONTENIDOS ***********/
/* No lo encontré
#header {
    background-color:#FFF;
}
*/
/* No lo encontré
#contenidos {
    background-color:#FFF;
    min-height:300px;
    padding:10px 20px;
}
*/
/* No lo encontré
#footer {
    background-image:url(../images/footer_body.jpg);
    background-repeat:no-repeat;
    height:13px;
    background-position:bottom;
    background-color:#FFF;
}
*/
table.datagrid th, 
td.nombreFila {
    font-size: 11px;
    background-color: #4D8FD9;
    border-top: 1px solid #D5D4D1;
    border-left: 1px solid #D5D4D1;
    border-right: 1px solid #D5D4D1;
}
table.datagrid thead th span select {
    font-size: 10px;
    border-style: none;
}
table.datagrid.datgridfaltantes thead th span input[type='text'] {
    width: 50px;
}
table.datagrid.datgridfaltantes thead th span input[type='button'] {
    width: 10px;
}
table.dtg_localizacion td{
    border: 1px solid #BFD7E9;
}

table.dtg_localizacion thead tr th span input[type='text'] {
    width: auto;
    font-size: 12px;
}

#FormLabels {
    border:3px solid #4F94C5;
    padding:2px;
}

.datos_cuadernillo_row {
    width: 100%;
    background-color: white;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid;
    font-size: small;
}
.datos_cuadernillo_col_cuadernillo {
    width: 50%;
}
.datos_cuadernillo_col_icono{
    width: 18px;
    height: 24px;
    background-image: url(../images/cuadernillos_icons.png);
    background-repeat: no-repeat;
}
.Celeste .datos_cuadernillo_col_icono { background-position:  -71px 2px;}
.Rosa    .datos_cuadernillo_col_icono { background-position:  -17px 2px }
.Amarillo .datos_cuadernillo_col_icono { background-position:  -89px 2px;}
.Blanco  .datos_cuadernillo_col_icono { background-position:  -53px 2px;}
.Violeta .datos_cuadernillo_col_icono { background-position:  1px 2px;}
.Marrón  .datos_cuadernillo_col_icono { background-position:  -35px 2px;}
.Naranja .datos_cuadernillo_col_icono { background-position:  -107px 2px;}
.Verde   .datos_cuadernillo_col_icono { background-position:  -126px 2px;}
.Todos   .datos_cuadernillo_col_icono { background-position:  -143px 2px;}

.datos_cuadernillo_col_estado {
    width: 20%;
    text-align: right;
    font-size: x-small;
    padding-right: 10px;
}
.datos_cuadernillo_col_boton{
    padding-left: 10px;
    min-width: 15%;
}



/*********** TABLAS ******************/


.par {
    background-color:#B0D0E7;
    color:#666;
}

.impar {
    background-color:#CCC;
    color:#666;
}
.tablaHover {
    background-color:#4F96C5;
    color:#FFF;
}

.integertextbox {
    text-align:right;
    width:50px;
}

.menu {
/*    bottom:0px;
    color:#FFFFFF;
    font-weight:bold;
    height:56px;
    text-align: center;
    padding:0;
    position:fixed;
    text-shadow:1px 1px 2px #000000;
    width:90%;
    z-index: 2;*/
}


/**************************LEO**********************/
body {
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 100%;
    background-repeat:repeat-x;
    background-color:#E6F1F7;
    background-image:url(../images/fnd_pix_body.jpg); /* 7bb0d2->e6f1f7 */
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-position:top;
    padding:0;
}

.MyBody {
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    height: 100%;
    max-width: 1280px;     
    background-repeat:repeat-x;
    background-image:url(../images/degrade.png); 
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-position:top;
    background-color: #878789;
    padding:0;
}

.contenidos {
    display: block; 
    clear: both;
    background-color:#FFF;
    min-height:400px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 37px;
    /*-moz-border-radius:7px;
    border-radius: 7px;
    -webkit-border-radius:7px;*/
    margin-bottom: 20px;
}

/*********** HEADER *****************/
/* Del index*/
#bannerIzq {
    background-image:url(../images/05-banda-superior-b.png);
    background-repeat:no-repeat;
    height:52px;
    width:163px;
    min-width:163px;
}
/* Del index*/
#bannerDer {
    background-image:url(../images/05-banda-superior-c.png);
    background-repeat:no-repeat;
    width:136px;
    min-width:136px;
}
/* Del index*/
#bannerAba {
    background-image:url(../images/05-banda-superior-abajo-sola.png);
    background-repeat:no-repeat;
    background-position: center;
    height: 3px;
}
/* Del index*/
#bannerArr {
    background-image:url(../images/05-banda-superior-a.png);
    background-repeat:no-repeat;
    background-position: center;
    height: 3px;
}
/* Del index*/
#bannerCent {
    background-color: white;
    min-width:100px;
}

/* Del index*/
#footerLogo {
    background-image:url(../images/logos_banda_inferior.png);
    background-repeat:no-repeat;
    width:250px;
    height:43px;
    background-position:left;
    margin-left: 60px;
}
#bannerBordeIzq {
    background-image:url(../images/ban_sup_borde_izq.png);
    background-repeat:no-repeat;
    width:10px;
    height:11px;
    background-position:left top;
}
/* En el index cuando hay un estab en sesion */
#bannerContenidos, #bannerUsuario {
    padding:1px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#bannerContenidos a:hover,#bannerUsuario a:hover {
    color:#FF9900;
}
#bannerContenidos a,#bannerUsuario a {
    color:#CC6600;
    font-size:12px;
    font-weight: normal;
    text-decoration: none;
}
#bannerUsuario {
    text-align: right;
}



/* Del index*/
#bannerBordeDer {
    background-image:url(../images/ban_sup_borde_der.png);
    background-repeat:no-repeat;
    background-position:right top;
    width:10px;
    height:11px;
}

/* Del index*/
#bannerBordeCent {
    background-image:url(../images/ban_sup_borde_pix.png);
    background-repeat:repeat-x;
    min-width:100px;
    height:11px;
}

/*
#divInicio{
    height:25px;
    width:75px;
    background-position:top;
    background:url(../images/botonera.png) 0 -6px;     
}
#divInicioOn{
    height:25px;
    width:75px;
    background-position:top;
    background:url(../images/botonera.png) 0 0;
}
#divInicio:hover {
    background:url(../images/botonera.png) 0 0;     
}

*/

td#td_botonera div {
    height:27px;
    width:108px;
    background-image: url("../images/botonera.png");
    background-repeat: no-repeat;
}
#divInicio{
    background-position: 0 -7px;
}
#divInicioOn, #divInicio:hover{
    background-position: 0 -2px;
}
#divAdministracion{
    background-position: 0 -40px;
}
#divAdministracionOn, #divAdministracion:hover {
    background-position: 0 -35px;
}
#divArticularPadron{
    background-position: 0 -73px;
}
#divArticularPadronOn, #divArticularPadron:hover {
    background-position: 0 -68px;
}
#divLocalizacion{
    background-position: 0 -107px;
}
#divLocalizacionOn, #divLocalizacion:hover {
    background-position: 0 -102px;
}
#divListados{
    background-position: 0 -140px;
}
#divListadosOn, #divListados:hover {
    background-position: 0 -135px;
}
#divEstadisticas{
    background-position: 0 -173px;
}
#divEstadisticasOn, #divEstadisticas:hover {
    background-position: 0 -168px;
}
#divLector{
    background-position: 0 -205px;
}
#divLectorOn, #divLector:hover {
    background-position: 0 -200px;
}
#divFichaEscuela{
    background-position: 0 -238px;
}
#divFichaEscuelaOn, #divFichaEscuela:hover {
    background-position: 0 -233px;
}
#divSalir{
    background-position: 0 -271px;
}
#divSalirOn, #divSalir:hover {
    background-position: 0 -265px;
}

/*
#divAdministracion{
    height:25px;
    width:108px;
    background-position:top;
    background:url(../images/botonera.png) -75px -6px;     
}
#divAdministracionOn{
    height:25px;
    width:108px;
    background-position:top;
    background:url(../images/botonera.png) -75px 0;     
}
#divAdministracion:hover {
    background:url(../images/botonera.png) -75px 0;     
}

#divArticularPadron{
    height:25px;
    width:104px;
    background-position:top;
    background:url(../images/botonera.png) -185px -6px;     
}
#divArticularPadronOn{
    height:25px;
    width:104px;
    background-position:top;
    background:url(../images/botonera.png) -185px 0;     
}
#divArticularPadron:hover {
    background:url(../images/botonera.png) -185px 0;     
}
#divLocalizacion{
    height:25px;
    width:100px;
    background-position:top;
    background:url(../images/botonera.png) -290px -6px;     
}
#divLocalizacionOn{
    height:25px;
    width:100px;
    background-position:top;
    background:url(../images/botonera.png) -290px 0;     
}
#divLocalizacion:hover {
    background:url(../images/botonera.png) -290px 0;     
}
#divListados{
    height:25px;
    width:74px;
    background-position:top;
    background:url(../images/botonera.png) -390px -6px;     
}
#divListadosOn{
    height:25px;
    width:74px;
    background-position:top;
    background:url(../images/botonera.png) -390px 0;     
}
#divListados:hover {
    background:url(../images/botonera.png) -390px 0;     
}
#divEstadisticas{
    height:25px;
    width:89px;
    background-position:top;
    background:url(../images/botonera.png) -465px -6px;     
}
#divEstadisticasOn{
    height:25px;
    width:89px;
    background-position:top;
    background:url(../images/botonera.png) -465px 0;     
}
#divEstadisticas:hover {
    background:url(../images/botonera.png) -465px 0;     
}
#divLector{
    height:25px;
    width:105px;
    background-position:top;
    background:url(../images/botonera.png) -555px -6px;     
}
#divLectorOn{
    height:25px;
    width:105px;
    background-position:top;
    background:url(../images/botonera.png) -555px 0;     
}
#divLector:hover {
    background:url(../images/botonera.png) -555px 0;     
}

#divSalir{
    height:25px;
    width:70px;
    background-position:top;
    background:url(../images/botonera.png) -660px -6px;     
}

#divSalir:hover {
    background:url(../images/botonera.png) -660px 0;     
}*/

/**************** USUARIO ********************/
#LoginForm {text-align: center; padding-top: 20px;}
/* del Login */
#userSup {
    background-image:url(../images/login_sup.png);
    background-repeat:no-repeat;
    width:172px;
    height:29px;
}
/* del Login */
#userCent {
    background-image:url(../images/login_pix_h.png);
    background-repeat:repeat-y;
    width:172px;
    height:100px;
}
/* del Login */
#userInf {
    background-image:url(../images/login_inf.png);
    background-repeat:no-repeat;
    width:172px;
    height:8px;
}
/* del Login */
#userInput {
    background-image:url(../images/login_usuario.png);
    background-repeat:no-repeat;
    width:100%;
    height:22px;
    background-position:center;
    margin-top:10px;
}

/* del Login */
#claveInput {
    background-image:url(../images/login_clave.png);
    background-repeat:no-repeat;
    width:100%;
    height:22px;
    background-position:center;
    margin-top:10px;
}
/* del Login */
#botInput a {
    background-image:url(../images/login_bot.png);
    background-repeat:no-repeat;
    width:100%;
    height:17px;
    background-position:center;
    margin-top:10px;
    display:block;
}
.text-login {
    background-image:url(../images/rectangulo_login.png) !important;
    border:0 none !important;
    margin: 0 none;
    outline:0 none !important;
    width:110px !important;
    height:18px !important;
}
#LoginTable{
    font-size:small; 
    background-image:url(../images/cuadrado_login.png);
}
.button-login{
    float: none !important;
}

.TextoLink{
    font-size:x-small; 
    color:dimgrey;
    text-decoration: none;
}

.tituloTexto{
    font-weight:bold; 
    font-size: small;
}

#alerta{
    font-size:xx-small; 
}

/*
#userCent div div.renderWithName div.right span.error {
    left:67px;
    margin-left:0;
    overflow:auto;
    top:0;
}*/

/******** boton *************/

.boton {
    display:inline-block;
    margin-right:5px;
    margin-top:15px;
}

.boton a{
    color:#FFF;
    text-decoration:none;
}

.boton div{
    float:left;
}

/* No lo encontré
#botIzq {
	background-image:url(../images/boton_izq.png);
	background-repeat:no-repeat;
	height:20px;
	width:4px;
	}
*/
/* No lo encontré
#botDer {
	background-image:url(../images/boton_der.png);
	background-position:right;
	background-repeat:no-repeat;
	height:20px;
	width:4px;
	}
*/
/* No lo encontré
#botCont {
	background-color:#82B3D6;
	height:20px;
	min-width:80px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:10px;
	color:#FFF;
	line-height:18px;
	}
*/


.navegador{
    height:20px;
    width:174px;
    border:1px solid #FEE4AA;
    background-color:#FFF9EB;
    margin-bottom:100px;
    position:fixed;
    right: 14%;
    top:1%;
    line-height: 1.2em;
    display:block;
    float:left;
}

.DatosCapituloDataGrid tr {
    width: 100%;
}
.DatosCapituloDataGrid td, .gris td{
    background-color:#F1F1F1;
    border-color:#FFFFFF;
    border-style:none none solid;
}


table td .inicializacion input {
    float: none;
}


#header {
    width: 100%;
    clear: both;
    margin:5px 0;
}
#header ul li {
    list-style: none;
    display: inline;
}
#header ul li a {
    text-decoration: none;
}
#header ul li a:hover {
    text-decoration: underline;
}

.linkError{
    clear: both;
    width: 100%;
    margin-bottom: 5px;
    float: left; 
    font-size: smaller;
    
}


/*****************************************
* Css estilos para los QFilterList
*****************************************/
/*
.sidebar-left, .sidebar-right {
    float:left;
    width: 300px;
}
.sidebar-left, .sidebar-left2 {
    display:inline;
    right:21px;
    float:left;
    width:184px;
    position:absolute;
    background-color:#EEEEEE;
    border:1px solid #999;
    top:22px;
    padding:2px;
}
*/
.removebutton {
    border: 1px solid gray;
    background-color:#F0F0F0;
    color: #000000;
}
.removebutton:hover {
    background-color:#0F0F0F;
    color: #FFFFFF;
}
.red {
    background-color:red;
}
.domicilios-datagrid {
    display: block;
    clear: both;
    width: 100%;
}
.floatRight .filtros {
  margin-bottom:20px;
  display:block;
  border:0px solid red;
  position: absolute;
}
.floatRight .filtros .filtro {
  width: 150px;
  margin: 3px;
  display:inline;
}
.floatRight .filtros .filtro input {
}
.floatRight {
    float:right;
    width: 220px;
}

.floatRight .filtros .filtrobotones input {
    padding: 0px;
    width: 100%;
}
.floatRight .filtros .filtrobotones{
    background-color:#E6F1F7;
    border:1px solid #595E60;
    margin-right:5px;
    width:200px;
}
.floatRight .titulofiltros {
    max-width: 200px;
    text-align: center;
}
.floatRight .titulofiltros a {
    color: red;
}
.aplicaButton {
    width: 184px;
    background-color: white !important;
    color:  #0071BC !important;
    text-transform: uppercase;
    border: 1px solid  #999 !important;
    text-align:center !important;
    position:relative;
    top:292px;
}
.aplicaButton:hover {
    background-color: #E6F1F7 !important;
}

.filtrosActivos {
    display:block;
    clear:both;
}
.filtroBox {
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    padding:5px;
    border:1px solid #CCC;
    background-color:#FFF;
    float:left;
    margin-right:3px;
}
/**/

.filtroBox span input {
    background-image:url(../images/cruz_sprite.png);
    background-repeat:no-repeat;
    background-position: left bottom;
    width:10px;
    font-size: 8px;
    color: white;
    height:12px;
    margin-left:5px;
    border:1px solid #CCC;
    padding-left: 0;
    margin-top: 3px;
  vertical-align: bottom;
}
*+html .filtroBox span input {
    
}

.filtroBox span input:hover {
    background-position: -10px bottom;
}

.filtroBox div{
    float:left;
}

.QFLandOrCondition {
    float:left;
    clear: left
}
.lstAndOrCondition label {
    font-size: 7px;
    font-size: 10px;
    vertical-align: 25%;
    white-space: nowrap;
}
.QFLFiltros{
    float:left;
}
input[disabled="disabled"] {
    color: gray;
}

input[type="text"], input[type="password"], textarea {
    width: 20em;
}

textarea, .textarea {
    max-height: 6em;
    width: 35em;
}
.textarea {overflow:auto;}
.QFLDatagrid{
    width: 100%;
    /*overflow: scroll;*/
    min-height: 300px;
    border-top:1px solid #666;
    margin-top: 5px;
    float: left;
}
#QFLControl {
}
#QFLSelector {
    position: relative;
    float: right;
    text-align:left;
    width:184px;
    top: 0;
}

#QFLButtons span a {
    color:#333;
    font-size:10px;
    text-decoration:none;
    padding-left:10px;
    padding-top: 3px;
    float:left;
    height:18px;
    width:80px;
    background-color:#EEEEEE;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

#QFLButtons span a:hover {
    background-color:#BEBEBE;
    border:1px solid #999;
    color:#FFFFFF;
}
#QFLPanels {
    background-color: #EEEEEE;
    float: left;
    position: absolute;
    top: 23px;
    width: 184px;
    right:0px;/* esto hace que el panel no se vaya a la derecha en IE7*/
}

.QFLpnlFilters{
    border:1px solid #999;
    -moz-box-shadow:0 4px 10px #8B8B8B;
    max-height: 260px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.QFLFilterButton {
  color: #333333;
    font-family:  "Lucida Sans Unicode","Lucida Grande",sans-serif;
    border-style: none;
    padding-left: 10px;
    background-color: #EEEEEE;
    font-size: 12px;
    text-align: left;
    width: 100%;
}
*+html .QFLFilterButton {
    width: 90%;
}
.QFLFilterButton:hover {
    background-color: #CCCCCC;
}
.QFLpnlColumns {
    border:1px solid #999;
    -moz-box-shadow:0 4px 10px #8B8B8B;
    width: 100%;
    text-align: center;
}
.QFLpnlColumnsList {
    max-height: 240px;
    overflow-y: scroll;
    text-align: left;
}
input.QFLbtnAplicar {
    left: 50%;
    background-position: 2px 50%;
    padding-left: 18px;
    background-image: url("../images/icons/accept.png");
    background-repeat: no-repeat;
    background-color: #E0E0E0;
    margin: 2px;
}
.QFLlstColumns {
    overflow-y: scroll;
    text-align: left;
}
/*
.filtrar div {
    float:left;
}
.filtrobotones{
    float:left;
    width:178px;
    position:absolute;
    background-color:#EEEEEE;
    border:1px solid #999;
    top:22px;
    padding:2px;
}*/
input.button.excelbuttonM {
    font-size: 9px;
}
.qpbar_name {
    width:10em;
}

input.CodArea{
    width:4em;
}
input.telefono{
    width:10em;
}


/*****************************************
* Css estilos para QInfoMessages
*****************************************/

#mensajes {
    padding-left: 20px;
    padding-right: 20px;
    background-color:#FFF;
    text-align: right;
    vertical-align: text-top;
}


.qmsg_table {
    padding-top: 10px;
}
div.oltplocalizacionresumen div div div.right span {font-size: 12px}
.alternativeRow {
    background-color: #eee !important;
}

.alternativeRow:hover {
    background-color: #ccc !important;
}

.Row:hover {
    background-color: #ccc !important;
}
/*
table.datagrid tr:hover{
    background-color: #ccc !important;
}
*/
.btnCreateNew {
    float:right;
    margin-bottom:5px;
}
*+html .btnCreateNew {
    margin-bottom: 0;
}

.itempanel {
    padding: 4px;

}

.QLoadingPanel {
    background-image:url(../images/transparent.png);
}

a.listado-link {
    font-size: 0.8em;
    clear:both;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

