/*@cont {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}
*/
page[size="A4"] {
  
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 1cm;
  page-break-after: always;
  
}
@media print {
  body, page[size="A4"] {
    margin: 20;
    box-shadow: 0;
  }
}
body{
	font-family:arial;
	/*
	width:780px;
	padding-left: 250px;
	margin: 20px;
	*/
}

.cont{
	background-color:#d2d2d2;
}

h1{
	text-transform:uppercase;
	margin: 0;
    padding: 15px 0 0 15px;
	background-color:white;
}

h2{
	background-color:#100F1D;
	color:white;
	padding:7px 0 7px 25px;
	margin:0;
}

h3{
	margin:0;
	padding:3px 13px;
	display: inline-block;
  font-size: 11px;
}

input {
    border: 1px solid black;
    height: 20px;
    margin-top: 4px;
    padding: 5px;
}


small {
    color: #333;
    font-size: 10px;
    font-weight: normal;
}

.left{
	float:left;
	margin-left: 2px;
}

.left h3{
	margin-left:-25px;
}

.left input{
	float:right;
	display: inline-block;
}

.left small {
    /*display: inline-block;*/
    height: 0px;
    line-height: 30px;
    margin-left:25px;
}
.right{
	float:right;
	margin-right:25px;
}

form input {
    height: 15px;
    margin-left: 100px;
}

#esp_lib{
	display:inline;
}

#esp_lib input{
	margin-left:0;
}

#esp_lib span{
	margin-left:30px;
}

li {
  padding-top: 15px;
}
li div {
    display: inline-block;
	  margin-top:1px;
}

li input{
	width:65px;
}

li span{
	margin-right:65px;
}

table {
    margin-left: 5%;
    width: 90%;
}

table input {
    display: block;
    margin: auto;
}

#uso_int input{
	display:inline;
}

#uso_int {
    color: white;
    margin-left: 5%;
    width: 90%;
}

#uso_int h3{
	background-color:#100F1D;
}

#uso_int > div{
	background-color: #21202e;
	padding:15px;
}

#uso_int input{
	height:auto;
}

#uso_int small {
    color: white;
}

textarea{
   border: 1px solid black;
   margin-left: 25px;
   width:740px;
   height:35px;
   margin-bottom:10px;
}

#sit_amb{
	margin-left:5%;
	width:90%;
}

#sit_amb  input{
	margin-left:0;
}

#sit_amb > small {
    display: inline-block;
    margin-top: 6px;
    width: 150px;
}
/* para antecedentes , hoja 4*/

.antec > small {
    display: inline-block;
    margin-top: 6px;
    width: 230px !important;
}

ol {
	margin-top:-5px;
}


.infra { height: 20px; }

.nomenclaturas input{
	display:inline;
	height: auto;
}

.judic form input {
    height: 15px;
    margin-left: 10px;
}

/* tengo que bajar el tamano de hoja 3 */
.cond{
  font-size: 11px;
}

.cond h1{
  text-transform:uppercase;
  margin: 0;
    padding: 0px 0 0 15px;
  background-color:white;
}

.cond h2{
  background-color:#100F1D;
  color:white;
  padding:7px 0 7px 25px;
  margin:0;
}

.cond h3{
  margin:0;
  padding:3px 13px;
  display: inline-block;
}

.cond input {
    border: 1px solid black;
    height: 15px;
    margin-top: 2px;
    padding: 4px;
}

.encabezado{
}

.pie_li{
  background-color:#d2d2d2; 
}

.li_caratula li {
  padding-top: 0px;
}

#anexo{
  position: fixed;
  top: 75px;
  text-align: center;
  width: 800px;
  font-family:arial
}
