.navbar {
  margin-left: 0;
  margin-right: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  min-height: 45px;
  position: relative;
  background-color: #F07A0C;
}

.login-box .toolbar {
    background: none repeat scroll 0 0 #F07A0C;
    border-top: 2px solid #F07A00;
}

#navbar-footer{
  background-image: url(../images/fondo.png);
  min-height: 118px;
}

#navbar-header{
  background-image: url(../images/fondo.png);
  min-height: 70px;
}

span.nombre-usuario {
    color: #FFFFFF;
    float: left;
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
    padding: 12px;
}

.pull-right {
    float: right;
    width: 30%;
}


#menu-usuario{
    top:20px;
}

#menu-usuario span{
  padding:12px;
  font-size: 15px;
}

.wizard > .steps > ul > li {
    width: 20% !IMPORTANT;
}

.titulos {
  font-family: arial;
  font-size: 14px;    
}

.renderWithName  input[type="checkbox"]{
    float: left;
    width: 10%!IMPORTANT;
}


.partido_localidad{
  width: 50%;
}

.index_nomenclaturas{
  min-height: 200px;
}

.msg-nomenclatura{
 float:right;
 margin-left: 10px;
}

.borrar_archivo{
  margin-left: 15px!IMPORTANT;
}

body{
  font-family: arial !IMPORTANT;
}

.boton_evolucion{
  margin-left: 20px;
}

.titulos i{
  margin-right: 5px;
}

.geometria_barrio{
  display: none;
}

.btn {
    margin-left: 5px;
}

.btn-xs {
    padding: 1px !IMPORTANT;
}

.btn-sm, .btn-xs {
    font-size: 11px !IMPORTANT;
}

.inscripcion_provisoria{
  background-color: #D9EDF7;
    border-color: #BCE8F1;
    
}

.inscripcion_provisoria .icon-question-sign{
  float: right;
  bottom: 33px;
  margin-right: 120px;
  position: relative;
  color: #3A87AD;
  
}

.leaflet-container {
    background: white !IMPORTANT;
    border-style: solid;
    border-width: 1px;
}